<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your ride request has just been accepted.</h1>
<p>
  Your request to join the ride : <a href="<%= @url %>"><%= @url %></a> has just been accepted.
</p>
<p>
  Please, follow this link to check it out: <a href="<%= @url %>"><%= @url %></a>
</p>
<p>Thanks for using ride share. Have a blessed day.</p>
</body>
</html>
