<div class="form_container">
  <header>
    <h3>Add a new vehicle...</h3>
  </header>

  <div class="form_content">
    <%= render 'form', vehicle: @vehicle %>

    <%= link_to 'Back', vehicles_path %>
  </div>
</div>
