/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$app-blue: #4f70b5;
$bgc: #f2f2f2;

@font-face {
  font-family: HarmoniaRegular;
  src: url("https://raw.githubusercontent.com/opr/shedpress/master/web/app/themes/valoisa/assets/fonts/HarmoniaSans/HarmoniaSansProCyr-Regular.otf") format("opentype");
}

* {
  font-family: HarmoniaRegular, Verdana, cursive;
  transition: 0.5s ease-in-out;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: $bgc;
}

body {
  padding-left: 70px;
  padding-top: 55px;
}

.app_container {
  height: calc(100vh - 55px);
  width: calc(100vw - 70px);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

/************************************
              Toasts
*************************************/

.toast {
  position: fixed;
  top: 70px;
  right: 30px;
  visibility: hidden;
  width: 300px;
  height: auto;
  margin: 0;
  text-align: center;
  padding: 0;
  animation: disappear 7s;

  &.toast-success {
    background-color: rgba(0, 128, 0, 0.7);
    border: 1px solid #008000;
    color: #ffffff;
  }

  &.toast-warning {
    background-color: rgba(255, 165, 0, 0.7);
    border: 1px solid #ffa500;
    color: #ffffff;
  }

  &.toast-error {
    background-color: rgba(255, 0, 0, 0.7);
    border: 1px solid #ff0000;
    color: #ffffff;
  }

  &.toast-info {
    background-color: rgba(79, 112, 181, 0.7);
    border: 1px solid #4f70b5;
    color: white;
  }
}

/************************************
              Navigation
*************************************/

nav {
  position: fixed;
  top: 0;
  left: 70px;
  width: calc(100vw - 70px);
  height: 40px;
  background-color: $bgc;
  border-bottom: 2px solid $app-blue;
  padding: 10px 0 10px 0;
  display: flex;

  .logo {
    display: inline-block;
    color: $app-blue;
    font-size: 2em;
    font-weight: 900;
    padding: 14px;
  }

  .options {
    margin-left: 30%;

    li {
      display: inline-block;
      text-align: center;
      a {
        background-color: $app-blue;
        padding: 12px 17px 12px 17px;
        border-radius: 15px;
        color: white;
        text-decoration: none;
      }
    }
  }

  .user {
    float: right;
    margin-left: auto;

    li {
      display: inline-block;
      text-align: center;
      a {
        background-color: $app-blue;
        padding: 12px 17px 12px 17px;
        color: white;
        text-decoration: none;
        margin-right: 20px;
      }
    }

    .user_options {
      display: none;
    }
  }
}


/************************************
              Sidebar
*************************************/

$sdbgc: #333;

.sidebar {

  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  padding-top: 100px;
  background-color: $app-blue;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .11);
  z-index: 99;

  .item {
    line-height: 1;
    font-size: 25px;
    color: #f2f2f2;
    cursor: pointer;
    margin: 10px 4px;
    text-align: center;
    background-color: $app-blue;
    border: solid 4px $app-blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all ease-in-out .27s;

    &.logout {
      position: relative;

      input[type="submit"] {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: none;
        box-shadow: none;
        outline: none;
        background: transparent;
      }
    }

    a {
      background-color: transparent;
      color: #fff;
    }

    span {
      position: absolute;
      width: 70%;
      display: none;
      font-size: 15px;
      text-align: center;
    }

    i {
      padding: 10px;
    }

    &:hover {
      text-shadow: 0px 0px 25px #000;
      span {
        display: block;
      }
    }

    &.active {
      border-color: $bgc;
      margin-left: 28px;
      animation: bounce 1s infinite;

      &:hover {
        text-shadow: none;
        span {
          display: none;
        }
      }
    }
  }
}


/************************************
              Forms
*************************************/

.form_container {
  margin: 0 auto;
  width: 70%;
  height: auto;
}

input[type="submit"], button {
  box-shadow: 0 0 5px gray;
  border: none;
  background-color: white;
  border-radius: 0;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: $app-blue;
    box-shadow: none;
  }
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
  width: 100%;
  height: 40px;
  outline: none;
  border-width: 0 0 3px 0;
  border-color: rgba(127, 127, 127, 0.3);
  font-size: 18px;
  color: rgb(44, 44, 44);
  &:focus {
    border-color: $app-blue;
  }
}

textarea {
  width: 100%;
  height: 50px;
  outline: none;
  border-width: 0 0 3px 0;
  border-color: rgba(127, 127, 127, 0.3);
  font-size: 18px;
  color: rgb(44, 44, 44);
  &:focus {
    border-color: $app-blue;
  }
}

/************************************
              Tables
*************************************/

.table {
  margin: 0 auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
  td {
    padding: 10px;
  }
  tbody {
    tr {
      box-shadow: 0 0 5px gray;
      cursor: pointer;
      transition: 0.2s ease-out;
      &:hover {
        box-shadow: 0 0 10px gray;
      }
      td {
        text-align: center;
      }
    }
  }
}

/************************************
              Links
*************************************/
a {
  color: $app-blue;
  text-decoration: none;
  background-color: white;

  &:hover {
    text-decoration: underline;
    background-color: white;
    color: $app-blue;
  }

  &:visited {
    color: $app-blue;
  }
}

/************************************
              Animations
*************************************/
@keyframes disappear {
  0% {
    visibility: visible;
    height: auto;
    margin: 10px 0 10px 0;
    padding: 10px;
  }
  90% {
    visibility: visible;
    height: auto;
    margin: 10px 0 10px 0;
    padding: 10px;
  }
  99%{
    height: auto;
    margin: 10px 0 10px 0;
    padding: 10px;
  }
  100% {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
  }
}

@keyframes bounce {
  0% {
    margin-left: 18px;
  }

  50% {
    margin-left: 28px;
  }

  100% {
    margin-left: 18px;
  }
}
