/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-datepicker/dist/css/bootstrap-datepicker
 *= require bootstrap-select/dist/css/bootstrap-select
 *= require timepicker/jquery.timepicker
 *= require alertifyjs/build/css/alertify
 */

$app-blue: #4f70b5;
$app-blue-transparent: rgba(79, 112, 181, 0.18);
$bgc: #f2f2f2;
$app-dark: #2c3e50;
$muted: #6c757d;

@font-face {
  font-family: HarmoniaRegular;
  src: url("HarmoniaSansProCyr-Regular.otf") format("opentype");
}

* {
  font-family: HarmoniaRegular, Verdana, cursive;
  transition: 0.5s ease-in-out;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: $bgc;
}

body {
  padding-left: 70px;
  padding-top: 90px;
}

.app_container {
  height: calc(100vh - 90px);
  width: calc(100vw - 80px);
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

#main {
  height: 100%;
  margin: 0;
  padding: 0;
}

/************************************
              Toasts
*************************************/

.toast {
  position: absolute;
  top: -70px;
  left: 0;
  visibility: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.85em;
  animation: disappear 7s;

  &.notice {
    background-color: rgba(0, 128, 0, 0.7);
    border: 1px solid #008000;
    color: #ffffff;
  }

  &.alert {
    background-color: rgba(255, 165, 0, 0.7);
    border: 1px solid #ffa500;
    color: #ffffff;
  }
}

/************************************
              Links
*************************************/

a {
  &.delete_link {
    color: red;
    transition: 0.05s ease-in-out;

    &:hover {
      color: red;
      text-shadow: 0 0 25px red;
    }
  }

  &.edit_link {
    color: $app-blue;
    transition: 0.05s ease-in-out;

    &:hover {
      color: $app-blue;
      text-shadow: 0 0 25px $app-blue;
    }
  }

  &.add_button {
    color: white !important;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: block;
    height: 60px;
    width: 60px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    padding-top: 30px;
    line-height: 0;
    text-space: 0;
    background-color: $app-blue;
    box-shadow: 0 0 5px gray;
    text-decoration: none !important;
    z-index: 50;
  }
}

/************************************
              Tables
*************************************/
.index_container {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}

.table {
  margin: 0 auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
  td, th{
    padding: 15px 10px 15px 10px !important;
    text-align: center;

    &:not(:last-child) {
      text-align: left;
    }
  }

  th {
    border: none !important;
  }

  tbody {
    tr {
      border: 1px solid $app-blue !important;
      box-shadow: 0 1px 5px rgba(128, 128, 128, 0.4);
      cursor: pointer;
      transition: 0.2s ease-out;

      td:not(:last-child) {
        text-align: left;

        &:first-child {
          border-radius: 2px 0 0 2px;
        }

        &:last-child {
          border-radius: 0 2px 2px 0;
        }
      }

      td:last-child {
        text-align: center;

      }
    }
  }

  .controls {
    padding: 5px;
    font-size: 18px;
  }
}

/************************************
              Animations
*************************************/
@keyframes disappear {
  0% {
    visibility: visible;
    height: auto;
    margin: 10px 0 10px 0;
    padding: 10px;
  }
  90% {
    visibility: visible;
    height: auto;
    margin: 10px 0 10px 0;
    padding: 10px;
  }
  99%{
    height: auto;
    margin: 10px 0 10px 0;
    padding: 10px;
  }
  100% {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
  }
}

@keyframes bounce {
  0% {
    margin-left: 9px;
  }

  50% {
    margin-left: 28px;
  }

  100% {
    margin-left: 9px;
  }
}
