// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$app-blue: #424284;

.admin {
  width: 90%;
  margin-left: 10%;
}

.user {
  .container {
    position: fixed;
    display: inline-flex;
    top: 20vh;
    left: 15vw;
    width: 70vw;
    height: 60vh;
    box-shadow: 0 0 5px gray;
    .image {
      width: 50%;
      height: 100%;
      background-color: black;
      float: left;
    }
    .form_holder {
      width: 50%;
      height: calc(100% - 20px);
      background-color: white;
      float: right;
      padding: 10px;
      overflow: scroll;
    }
  }
  .form_holder {
    .field {
      margin: 10px 0 20px 0;
    }

    input[type="submit"] {
      min-width: 45%;
      margin-top: 20px;
    }
  }

  .links {
    margin-top: 10px;

    a {
      display: block;
      padding: 0;
      color: $app-blue;
      text-decoration: none;
      margin-top: 0px;
    }
  }
}