// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$app-blue: #4f70b5;
$app-blue-transparent: rgba(79, 112, 181, 0.18);
$bgc: #f2f2f2;
$app-dark: #2c3e50;
$muted: #6c757d;

.user {
  .container {
    position: fixed;
    display: grid;
    grid-template-columns: 60% 40%;
    box-shadow: 0 2px 10px rgba(128, 128, 128, 0.41);
    width: 60vw;
    height: 50vh;
    padding: 0;
    margin: 0;
    left: 20vw;
    top: 25vh;
    border-bottom: 2px solid $app-blue;

    &.signup_container {
      height: 60vh;
      top: 20vh;

      .form_holder {
        height: 60vh !important;
        overflow-y: scroll;
      }
    }

    .form_holder {
      position: relative;
      width: 100%;
      height: 100%;
      max-height: 100%;
      margin: 0;
      padding: 40px 20px 20px 20px;
      border-radius: 3px;
      z-index: 120;

      form {
        margin-top: 40px;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 20%;
        right: 0;
        height: 60%;
        width: 1px;
        background-color: rgba(128, 128, 128, 0.51);
      }

      .field {
        margin: 10px 0 20px 0;
      }
    }

    .link_holders {
      width: 100%;
      height: 100%;
      padding: 20px;
      z-index: 110;
      .links {
        height: auto;
        margin-top: 50%;
        a {
          display: block;
          padding: 10px;
          text-decoration: none;
          text-align: center;
          &:first-child {
            color: $app-blue;
            border: 2px solid $app-blue;
          }
          &:nth-child(3) {
            color: red;
            border: 2px solid red;
          }
        }
      }
    }

    .btn {
      width: 60%;
      margin: 10px 20% 0 20%;
      padding: 13px;
      background-color: $app-blue;
      color: white;

      &:hover {
        background-color: $app-blue;
        color: white;
      }
    }

    h3 {
      position: absolute;
      top: 10px;
      left: -10px;
      width: 30%;
      text-align: center;
      display: block;
      padding: 10px;
      color: $app-blue;
      font-size: 1.1em;
      border: 2px solid $app-blue;
      background-color: $bgc;
      z-index: 200;
    }

    .toast {
      position: absolute;
      top: -70px;
      height: 40px;
      left: 0;
      visibility: hidden;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 0.85em;
      animation: disappear 7s;

      &.notice {
        background-color: rgba(0, 128, 0, 0.7);
        border: 1px solid #008000;
        color: #ffffff;
      }

      &.alert {
        background-color: rgba(255, 165, 0, 0.7);
        border: 1px solid #ffa500;
        color: #ffffff;
      }
    }

  }
}
